@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fundo-trasparente: #00000017;
    --back-color: #0E4653;
    --azul-claro: #588A96;
    --text-color: white;
    --text-color2: #082E36;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
}

/* nomeação dos itens da página para mexer no grid-template-areas */
.cabecalho{grid-area: header;}

.conteudo{grid-area: main;}

.rodape{grid-area: rodape;}

.slide-container{grid-area: slide;}

.sec1{grid-area: materia1;}

.sec2{grid-area: materia2;}

.sec3{grid-area: materia3;}

.sec4{grid-area: materia4;}

.sec5{grid-area: materia5;}

.sec6{grid-area: materia6;}

.sec7{grid-area: materia7;}

.container{
    display: grid;
    grid-template-rows: 130px auto 300px;


    /* prototipo do site */
    grid-template-areas:
        'header'
        'main'
        'rodape'
    ;
}

.conteudo{
    /* border: 4px solid rgb(53, 141, 156); */
    display: grid;
    grid-template-rows: 100vh repeat(7, auto);


    /* prototipo do site */
    grid-template-areas:
    'slide'
    'materia1'
    'materia2'
    'materia3'
    'materia4'
    'materia5'
    'materia6'
    'materia7'
    ;
}

/* ESTILIZAÇÃO DA PÁGINA PRINCIPAL */

header{
    background: var(--fundo-trasparente);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
    position: relative;
}

#logotipo{
    display: flex;
    align-items: center;
    margin-left: 115px;
    gap: 15px;
    color: var(--text-color);

    img{
        width: 70px;
    }
}

.menu{
    margin-right: 115px;
}

.nav-lista{
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.nav-lista ul{
    display: flex;
    list-style-type: none;
    gap: 70px;
    align-items: center;
}

.nav-lista ul li a{
    font-size: 25px;
    text-decoration: none;
    color: var(--text-color);
    transition: 0.4s;
}

.nav-lista ul li a:hover{
    color: var(--text-color2);
}

.menu button{
    /* width: 65px;
    height: 65px; */
    border: none;
    /* border-radius: 60px; */
    background: none;
}

main{
    background: var(--back-color);

    section{
        margin-top: 20px;
    }
}

#imagem-background{
    margin-top: -210px;
    /* margin-bottom: -190px; */
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: absolute;
}

.slide-container{
    display: flex;
    flex-direction: column;
    margin: 80px;
    align-items: center;
}

.slide-container h1{
    font-size: 100px;
    letter-spacing: -0.04em;
    font-weight: 600;
}

.slide-container h2{
    font-size: 175px;
    font-weight: 400;
    letter-spacing: 16px;
    margin-left: 20px;
}

.slide-container p{
    font-size: 36px;
    text-align: center;
}

.titulo_principal{
    color: white;
    line-height: 150px;
    z-index: 13;
    position: absolute;
    justify-content: center;
    text-align: center;
}

hr{
    width: 100%;
}

span{
    font-weight: 600;
}

.solucoes{
    margin: 10%;
}

/* SESSÃO UM */
.sec1{
    background-color: var(--cor-principal);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
}

.sec1 span{
    font-weight: 700;
}

.titulo-sec1{
    font-size: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.container-sec1{
    display: flex;
    justify-content: center;
    gap: 120px;
}

.text-sec1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 30px;
    max-width: 390px;

    p{
        margin-bottom: 70px;
    }
}

#img-sec1{
    width: 470px;
}

/* SESSÃO DOIS */
.sec2{
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.sec2 img{
    width: 180px;
    height: 150px;
}

.titulo-sec2{
    font-size: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container-sec2{
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    gap: 40px;

    p{
        font-size: 30px;
        max-width: 620px;
    }

    span{
        font-weight: 600;
    }
}

.divisao-sec2{
    display: flex;
    align-items: center;
    gap: 30px;
}

.divisao1-sec2{
    display: flex;
    flex-direction: row-reverse; 
    align-items: center;
    gap: 30px;
}

/* SESSÃO TRÊS */
.sec3{
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    text-align: center;

}

.titulo-sec3 {
    display: flex;
    flex-direction: column;
    font-size: 44px;
    align-items: center;
    gap: 20px;
}

.sec3 img{
    background-color: var(--azul-claro);
    width: 50px;
    padding: 15px 15px;
    border-radius: 50px;
}

.container-sec3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 140px;
}

.divisao-sec3{
    display: flex;
    gap: 220px;
}

.text-sec3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;

    p{
        font-size: 30px;
        max-width: 300px;
    }

    span{
        font-weight: 600;
    }
}

/* SESSÃO QUATRO */
.sec4{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 70px;
    color: var(--text-color);
}

.titulo-sec4{
    display: flex;
    flex-direction: column;
    font-size: 44px;
    align-items: center;
    gap: 20px;
}

.container-sec4{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 150px;
}

.container-sec4 img{
    width: 400px;
    height: 250px;
}

.text-sec4{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* SESSÃO CINCO */
.sec5{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 70px;
    color: white;
}

.titulo-sec5{
    display: flex;
    flex-direction: column;
    font-size: 44px;
    align-items: center;
    gap: 20px;
}

.container-sec5{
    display: flex;
    justify-content: center;
    gap: 150px;
}

.container-sec5 img{
    width: 400px;
    height: 250px;
}

.text-sec5{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* SESSÃO SEIS */
.sec6{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 70px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.titulo-sec6{
    display: flex;
    flex-direction: column;
    font-size: 44px;
    align-items: center;
    gap: 20px;
}

.container-sec6 img{
    width: 300px;
    height: 180px;
}

.container-sec6{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.text-sec6{
    font-size: 30px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* SESSÃO SETE */
.sec7{
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    gap: 70px;
    color: white;
    text-align: center;
}

.titulo-sec7{
    display: flex;
    flex-direction: column;
    font-size: 44px;
    align-items: center;
    gap: 20px;
}

.container-sec7{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    p{
        font-size: 30px;
        max-width: 1000px;
    }

    a{
        text-decoration: none;
        color: white;
        padding: 10px 10px;
        background-color: var(--azul-claro);
        font-size: 30px;
    }
}

/* FOOTER */
footer{
    background: var(--azul-claro);
    /* display: flex; */

    h4{
        font-size: 40px;
    }
}

.contato-footer{
    background-color: #082E36;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    color: white;
}

.contato{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    p{
        font-size: 30px;
    }
}

.redes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.redes_sociais{
    display: flex;
    justify-content: space-between;

    img{
        width: 40px;
        height: 40px;
    }

    a{
        text-decoration: none;
        color: white;
        font-size: 30px;
    }
}

.footer-final{
    background-color: white;
    text-align: center;
    height: 25px;
}

/* PÁGINA NO MOBILE */
@media screen and (min-width:200px) and (max-width: 500px) {
    body, html {
    margin: 0;
    padding: 0;
}
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    #logotipo {
        margin: 0;
        img {
            width: 50px;
        }
    }

    .nav-lista {
        display: none; /* Esconde a lista de navegação */
    }

    .slide-container {
        margin: 10px;
        text-align: center;
    }

    .slide-container h1 {
        font-size: 40px;
    }

    .slide-container h2 {
        font-size: 60px;
        margin-left: 0;
        letter-spacing: 8px;
    }

    .slide-container p {
        font-size: 20px;
    }

    .slide-container img{
        width: 100%;
        height: 100vh;
    }

    .titulo_principal{
        line-height: 65px;
        margin-top: 300px;
    }

    .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7 {
        padding: 20px;
        height: auto;
        text-align: center;
    }

    .titulo-sec1, .titulo-sec2, .titulo-sec3, .titulo-sec4, .titulo-sec5, .titulo-sec6, .titulo-sec7 {
        font-size: 24px;
    }

    .container-sec1, .container-sec2, .container-sec3, .container-sec4, .container-sec5, .container-sec6, .container-sec7 {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .text-sec1, .text-sec2, .text-sec3, .text-sec4, .text-sec5, .text-sec6, .text-sec7 {
        font-size: 18px;
        max-width: 100%;
    }

    .container-sec1 img, .container-sec2 img, .container-sec3 img, .container-sec4 img, .container-sec5 img, .container-sec6 img {
        width: 100%;
        height: auto;
    }

    .sec2 {
        text-align: center;
    }

    .titulo-sec2 {
        font-size: 24px;
    }

    .container-sec2 {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .divisao-sec2, .divisao1-sec2 {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .sec2 div img{
        width: 300px;
    }

    .sec3 {
        text-align: center;
        margin-top: 20px;
    }

    .titulo-sec3 {
        font-size: 24px;
    }

    .container-sec3 {
        flex-direction: column;
        gap: 20px;
    }

    .divisao-sec3 {
        flex-direction: column;
        gap: 20px;
    }

    .text-sec3 {
        width: 100%;
    }

    .text-sec3 p {
        font-size: 18px;
    }

    .sec3 img {
        width: 50px; /* Diminui os ícones */
        padding: 10px; /* Ajusta o padding dos ícones */
        border-radius: 15px; /* Ajusta o border-radius dos ícones */
    }

    .sec4 p {
        margin-bottom: 20px; /* Adiciona espaço entre os parágrafos */
    }

    .sec5 p{
        margin-bottom: 20px;
    }

        /* Espaçamento entre parágrafos */
    p {
        margin-bottom: 20px;
    }

    /* Tamanho do texto na secção 2 */
    .container-sec2 p{
        font-size: 18px;
    }

    .container-sec7 p{
        font-size: 18px;
    }

    /* Tamanho da imagem na secção 1 */
    #img-sec1 {
        width: 300px; /* Ajuste conforme necessário */
        height: auto; /* Altura ajustada automaticamente para manter a proporção */
    }

    footer {
        background: var(--azul-claro);
        color: white;
        padding: 20px 0; /* Reduzindo o padding do footer */
        text-align: center;
    }

    .contato-footer {
        background-color: #082E36;
        display: flex;
        flex-direction: column; /* Ajustando para coluna */
        align-items: center;
        justify-content: center; /* Alinhamento centralizado verticalmente */
        height: auto; /* Altura automática para se ajustar ao conteúdo */
        color: white;
        padding: 20px;
    }

    .redes{
        margin-top: 20px;
    }

    .redes h4{
        margin-bottom: 10px;
    }

    .contato p, .redes a {
        font-size: 20px;
    }

    .redes_sociais {
        display: flex;
        /* flex-direction: column; Ajustando para coluna */
        gap: 10px;
    }

    .redes_sociais a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    .redes_sociais img {
        width: 30px;
        height: 30px;
    }

    .footer-final {
        background-color: white;
        text-align: center;
        height: 25px;
    }
}